/* 1. Això arregla el càlcul matemàtic de les capses a TOTA la pàgina */
* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #242424;
}

/* 2. Arreglat el 'px' del padding */
#root {
  max-width: 100% !important; 
  width: 100%;
  padding: 25px !important;
  margin: 0 auto;
}